# auth0 credentials
AUTH0_SECRET=your_auth0_secret
APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=your_auth0_domain
AUTH0_ISSUER_BASE_URL=your_auth0_issuer_base_url
AUTH0_CLIENT_ID=your_auth0_client_id
AUTH0_CLIENT_SECRET=your_auth0_client_secret
SEARXNG_API_URL=http://localhost:8080