services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    network_mode: host
    environment:
      - HOSTNAME=0.0.0.0
    volumes:
      - data:/home/perplexica/data
      - uploads:/home/perplexica/uploads
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'
  uploads:
    name: 'perplexica-uploads'
