@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .overflow-hidden-scrollable {
        -ms-overflow-style: none;
    }

    .overflow-hidden-scrollable::-webkit-scrollbar {
        display: none;
    }
}
