@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/pp-ed-ul.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@layer base {
  .overflow-hidden-scrollable {
    -ms-overflow-style: none;
  }

  .overflow-hidden-scrollable::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
