PORT=8940
PERPLEXICA_URL=http://localhost:3000

# Chat model provider (check GET /api/providers for available providers)
PERPLEXICA_CHAT_PROVIDER=
PERPLEXICA_CHAT_MODEL=gpt-4o-mini

# Embedding model provider
PERPLEXICA_EMBED_PROVIDER=
PERPLEXICA_EMBED_MODEL=text-embedding-3-large
